In [96]:
import pandas as pd

In [98]:
url = f"https://land.naver.com/news/trendReport.naver?page=1"
data = pd.read_html(url)

In [99]:
df = data[0]
temp = df.copy()

In [100]:
# % 를 공백( )으로 바꾸
df_temp = temp['제목'].str.replace('%', '')

In [101]:
# 전국, 서울, 수도권 지우
regions = ['전국', '서울', '수도권']
for region in regions:
    df_temp = df_temp.str.replace(region, '')

In [102]:
# ']'를 기준으로 나누기. expand=True를 이용해 컬럼을 완전히 나눔.
df_temp = df_temp.str.split(']', expand=True)

In [103]:
# , 를 기준으로 나누기
df_temp = df_temp[1].str.split(',', expand=True)

In [104]:
# object인 타입을 float 형식으로 변환
df_temp = df_temp.astype(float)

In [105]:
# regions가 가지고 있는 값을 컬럼의 이름으로 temp에 생성
temp[regions] = df_temp

In [106]:
temp

,번호,제목,등록일,조회수,전국,서울,수도권
0,1806,"[6월3주 전국]전국-0.01%, 서울 0.05%, 수도권 0.01%",2024.06.24,479,-0.01,0.05,0.01
1,1805,"[6월2주 전국]전국 0.09%, 서울 0.20%, 수도권 0.13%",2024.06.17,971,0.09,0.20,0.13
2,1804,"[6월1주 전국]전국-0.04%, 서울 0.02%, 수도권-0.02%",2024.06.07,1199,-0.04,0.02,-0.02
3,1803,"[5월5주 전국]전국 0.04%, 서울 0.12%, 수도권 0.08%",2024.05.31,993,0.04,0.12,0.08
4,1802,"[5월4주 전국]전국 0.04%, 서울 0.00%, 수도권-0.06%",2024.05.27,846,0.04,0.00,-0.06
5,1801,"[5월3주 전국]전국 0.00%, 서울 0.06%, 수도권 0.02%",2024.05.17,1322,0.00,0.06,0.02
6,1800,"[5월2주 전국]전국-0.04%, 서울-0.10%, 수도권-0.05%",2024.05.13,817,-0.04,-0.10,-0.05
7,1799,"[5월1주 전국]전국 0.01%, 서울 0.10%, 수도권 0.06%",2024.05.03,1236,0.01,0.10,0.06
8,1798,"[4월4주 전국]전국-0.05%, 서울-0.08%, 수도권-0.05%",2024.04.26,926,-0.05,-0.08,-0.05
9,1797,"[4월3주 전국]전국-0.01%, 서울 0.10%, 수도권 0.03%",2024.04.19,969,-0.01,0.10,0.03
10,1796,"[4월2주 전국]전국-0.05%, 서울-0.09%, 수도권-0.06%",2024.04.12,990,-0.05,-0.09,-0.06
11,1795,"[4월1주 전국]전국 -0.01%, 서울 0.06%, 수도권 0.02%",2024.04.12,207,-0.01,0.06,0.02
12,1794,"[3월5주 전국]전국-0.08%, 서울-0.11%, 수도권-0.07%",2024.03.29,1666,-0.08,-0.11,-0.07
13,1793,"[3월4주 전국]전국 0.01%, 서울 0.00%, 수도권 0.01%",2024.03.22,992,0.01,0.00,0.01
14,1792,"[3월3주 전국]전국 0.02%, 서울 0.01%, 수도권 0.06%",2024.03.19,554,0.02,0.01,0.06
15,1791,"[3월2주 전국]전국-0.02%, 서울 0.03%, 수도권-0.01%",2024.03.14,752,-0.02,0.03,-0.01
16,1790,"[3월1주 전국]전국-0.04%, 서울-0.08%, 수도권-0.04%",2024.03.07,940,-0.04,-0.08,-0.04
17,1789,"[2월4주 전국]전국 -0.02%, 서울 0.02%, 수도권-0.02%",2024.02.23,1656,-0.02,0.02,-0.02
18,1788,"[2월3주 전국]전국-0.03%, 서울-0.04%, 수도권-0.03%",2024.02.20,572,-0.03,-0.04,-0.03
19,1787,"[2월2주 전국]전국 0.00%, 서울 0.06%, 수도권 0.02%",2024.02.20,162,0.00,0.06,0.02

In [109]:
# df_rate 생성
df_rate = temp[['등록일'] + regions + ['번호']]

In [110]:
# 결과 확인
df_rate

           등록일    전국    서울   수도권    번호
0   2024.06.24 -0.01  0.05  0.01  1806
1   2024.06.17  0.09  0.20  0.13  1805
2   2024.06.07 -0.04  0.02 -0.02  1804
3   2024.05.31  0.04  0.12  0.08  1803
4   2024.05.27  0.04  0.00 -0.06  1802
5   2024.05.17  0.00  0.06  0.02  1801
6   2024.05.13 -0.04 -0.10 -0.05  1800
7   2024.05.03  0.01  0.10  0.06  1799
8   2024.04.26 -0.05 -0.08 -0.05  1798
9   2024.04.19 -0.01  0.10  0.03  1797
10  2024.04.12 -0.05 -0.09 -0.06  1796
11  2024.04.12 -0.01  0.06  0.02  1795
12  2024.03.29 -0.08 -0.11 -0.07  1794
13  2024.03.22  0.01  0.00  0.01  1793
14  2024.03.19  0.02  0.01  0.06  1792
15  2024.03.14 -0.02  0.03 -0.01  1791
16  2024.03.07 -0.04 -0.08 -0.04  1790
17  2024.02.23 -0.02  0.02 -0.02  1789
18  2024.02.20 -0.03 -0.04 -0.03  1788
19  2024.02.20  0.00  0.06  0.02  1787